:root {
  --header-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 480px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

p {
  color: teal;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .remove-margin-bottom {
    padding: 94px 0 64px 0;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding: 94px 0;
}

@media screen and (min-width: 480px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background-color: white;
  padding: 32px 0;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 23px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 32px 0;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.header__item {
  margin-right: 50px;
}

@media screen and (min-width: 480px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-contacts a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-contacts a:hover {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 32px 0;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-link:focus {
  color: var(--accent-color);
}

.header-contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: #757575;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .header__mail {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__mail {
    margin-left: 50px;
    margin-bottom: 0;
  }
}

.header__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .header__tel {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__tel {
    margin-left: 50px;
  }
}

.header__mail:hover path, .header__tel:hover path {
  fill: #2196f3;
}

.header-contact-icon {
  margin-right: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-btn-color);
}

.menu-open-btn {
  background: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 21px;
  right: 25px;
}

@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-close-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__item:hover {
  color: #2196f3;
}

.mob__item:focus {
  color: #2196f3;
}

.mob-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mob__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 32px;
}

.mob__tel:hover {
  color: #2196f3;
}

.mob__tel:focus {
  color: #2196f3;
}

.mob__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob__mail:hover {
  color: #2196f3;
}

.mob__mail:focus {
  color: #2196f3;
}

.mob-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__item:not(:first-child) {
  padding-left: 10px;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(#2f303a66), to(#2f303a66)), url("../images/Img.jpg");
  background: linear-gradient(#2f303a66, #2f303a66), url("../images/Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 210px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 0;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 210px;
  }
}

.hero-container {
  width: 696px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .hero-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    width: 696px;
  }
}

.hero-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
}

@media screen and (min-width: 480px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.about-svg-wrapper {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 480px) {
  .about-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .about-title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .about-title {
    text-align: left;
  }
}

.about-after-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .about-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-item {
    width: 47%;
  }
}

@media screen and (min-width: 1200px) {
  .about-item {
    width: 25%;
  }
}

.about-svg-wrapper {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .about-svg-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .about-svg-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .about-svg-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
}

.our-work {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
  }
}

.our-work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.work-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.team {
  background: #f5f4fa;
  text-align: center;
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* gap: 30px; */
  margin-left: -30px;
}

@media screen and (min-width: 480px) {
  .team-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    margin-left: -30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.team-list-item {
  background: #ffffff;
  /* material shadow v1 */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  width: calc((100% - 120px) / 4);
  margin-left: 30px;
}

@media screen and (min-width: 480px) {
  .team-list-item {
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    margin-bottom: 30px;
    width: calc((100% - 120px) / 2);
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    margin-left: 30px;
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    width: calc((100% - 120px) / 4);
  }
}

@media screen and (min-width: 480px) {
  .team-list-item img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item img {
    width: 100%;
    height: auto;
  }
}

.team-description {
  padding: 30px 0;
  text-align: center;
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-role {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team-soc-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team-soc-link:hover {
  background-color: #2196f3;
}

.team-soc-link:hover .team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:focus {
  background-color: #2196f3;
}

.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

.clients-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .clients-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (min-width: 480px) {
  .clients {
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    padding: 30px 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 60px 0;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

@media screen and (min-width: 480px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .client-card + .client-card {
    margin-left: 30px;
  }
}

@media screen and (min-width: 480px) {
  .client-card {
    width: calc(100% / 2 - 15px);
  }
}

@media screen and (min-width: 768px) {
  .client-card {
    width: calc(100% / 3 - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .client-card {
    width: calc(100% / 7 - 15px);
  }
}

.client-wrapper {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 480px) {
  .client-wrapper {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .client-wrapper {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .client-wrapper {
    width: 170px;
    margin-bottom: 0;
  }
}

.client-logo path {
  fill: #afb1b8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.client-link:hover .client-wrapper {
  border: 1px solid #2196f3;
}

.client-link:hover .client-logo path {
  fill: #2196f3;
}

.client-link:focus .client-wrapper {
  border: 1px solid #2196f3;
}

.client-link:focus .client-logo path {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.contact-list {
  margin-top: 20px;
}

.contact-list-item,
.contact-list-item a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 9px;
}

.contact-list-item,
.contact-list-item a:hover {
  color: #ffffff;
}

.contact-list-item:first-child {
  color: #ffffff;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

@media screen and (min-width: 480px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* justify-content: start; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.general-info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer-soc-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-soc-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-soc-link:hover {
  background-color: #2196f3;
}

.footer-soc-link:hover .footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:focus {
  background-color: #2196f3;
}

.footer-soc-link:focus .footer-soc-icon {
  fill: #ffffff;
}

.footer-label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-input {
  margin-top: 20px;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .footer-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-input:focus {
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.footer-submit {
  padding: 10px 29px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 12px;
}

@media screen and (min-width: 480px) {
  .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 480px) {
  .footer-form-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-form-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-wrapper {
    width: auto;
  }
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .btn-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .btn-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.btn-list-item {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}

.btn-list-item:hover {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* gap: 30px; */
  margin-left: -30px;
}

@media screen and (min-width: 480px) {
  .portfolio-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /* gap: 30px; */
    margin-left: -30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 480px) {
  .portfolio-list-item {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.portfolio-cover-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .portfolio-cover-wrap img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-cover-wrap img {
    width: 100%;
  }
}

.cover-text {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio-list-item:hover .cover-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-list-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .first-child-desc {
    padding: 20px 24px 56px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .first-child-desc {
    padding: 20px 24px;
  }
}

.portfolio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: rotate(0) scale(0.3);
          transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
          transform: translate(-50%, -50%) rotate(360deg) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
}

@media screen and (min-width: 480px) {
  .modal-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal-input {
    width: 100%;
  }
}

.modal-close {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg path {
  fill: #2196f3;
}

.name {
  background: url("../images/form-icons/person-black-18dp 1.svg") no-repeat scroll 15px 11px;
  padding-left: 42px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  background: url("../images/form-icons/phone-black-18dp 1.svg") no-repeat scroll 15px 11px;
  padding-left: 42px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
  background: url("../images/form-icons/email-black-18dp 1.svg") no-repeat scroll 15px 11px;
  padding-left: 42px;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.comment {
  height: 120px;
}

textarea::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  padding: 12px 16px;
  resize: none;
}

.name:focus,
.tel:focus,
.mail:focus,
.comment:focus {
  border: 1px solid #2196f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.name:focus {
  background: url("../images/form-icons/person-blue-18dp 1.svg") no-repeat scroll 15px 11px;
}

.tel:focus {
  background: url("../images/form-icons/phone-blue-18dp 1.svg") no-repeat scroll 15px 11px;
}

.mail:focus {
  background: url("../images/form-icons/email-blue-18dp 1.svg") no-repeat scroll 15px 11px;
}

.modal-link {
  color: #2196f3;
  text-decoration: underline;
}

.accept-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .terms {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .terms {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }
}

.terms-link {
  color: #2196f3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid #000000;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
}

.checkbox:checked + label::before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-image: url("../images/form-icons/icon-check.svg");
  border: none;
}

.submit {
  padding: 10px 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.submit-wrapper {
  text-align: center;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */