.our-work {
    text-align: center;
    @media screen and (min-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  
  .our-work-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  
  .our-work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  
  .work-list-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }